<div class="Telo">


  <!-- Izabran dan -->
  <div class="IzabranDan">
      <div class="Icona" [routerLink]="['/']"  >
        <i class="fas fa-chevron-left"></i>
      </div>
      <div class="Dan">
          <p>{{ Dan }}</p>
          <p class="Datum">{{ DatumIzbranogDana }} June 2019</p>
      </div>
  </div>

  <!-- Dani -->
  <app-days (izabranDan)="onIzabranDan($event)"></app-days>

<!-- Info -->

<div class="Info">
    <div class="StepNum">
      <div class="Steps">
        <i class="fas fa-running"></i>
        <p class="St">Steps</p>
        <p class="NumS">{{ Koraci }}</p>
      </div>
    </div>
    <div class="Note">
      <p>{{ Recenica }}</p>
      <p class="Kp">{{ Iskaz }}</p>
    </div>
    <div class="NumKalKm">
      <div class="Km">
        <p>Km</p>
        <p class="Data">{{ Kilometari }}</p>
      </div>
      <div class="Cal">
        <p>Cal</p>
        <p class="Data">{{ PotrosenoKalorija }}</p>
      </div>
      <div class="Hr">
        <p>hours</p>
        <p class="Data">{{ Sat }}h {{ Minuti }}m</p>
      </div>
    </div>
</div>


</div>
