<!-- Dani -->
<div class="Dani">
  <ul>
    <li (click) = "onDayClicked('Monday')" [routerLink]="['/DayScreen']">
        <p>10</p>
        <p>MON</p>
    </li>
    <li (click) = "onDayClicked('Tuesday')" [routerLink]="['/DayScreen']">
        <p>11</p>
        <p>TUE</p>
    </li>
    <li (click) = "onDayClicked('Wednesday')" [routerLink]="['/DayScreen']">
        <p>12</p>
        <p>WED</p>
    </li>
    <li (click) = "onDayClicked('Thursday')" [routerLink]="['/DayScreen']">
        <p>13</p>
        <p>THU</p>
    </li>
    <li (click) = "onDayClicked('Friday')" [routerLink]="['/DayScreen']">
        <p>14</p>
        <p>FRI</p>
    </li>
  </ul>
</div>
